<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DocumentDbEndpoint" value="https://hwmbcc.documents.azure.com:443/" />
    <add key="DocumentDbAuthKey" value="z02tIGUCYNlNMs947mTspzkSNyrmA50ykXdlTzN+XFDaoLvPasWU4a5BQdxMqEFlg/y1VYtIJXjX9ZzzRYsPUQ==" />
    <add key="DocumentDbDatabaseNavn" value="BouvetCodeCamp2014Integrasjontester" />
    <add key="DocumentDbPifPosisjonerCollectionId" value="PifPosisjoner" />
    <add key="DocumentDbMeldingerCollectionId" value="Meldinger" />
    <add key="DocumentDbAktivitetsloggEntriesCollectionId" value="AktivitetsloggEntries" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>