<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DocumentDbDatabaseNavn" value="BouvetCodeCamp2014Release" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="location" value="Myrens" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="numberOfTeams" value="15" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>